/* Animações */

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(16px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-16px);
    }
    100%{
        transform: translateY(0);
    }
}

.animate-up{
    animation: up 300ms ease backwards;
}

.animate-right{
    animation: right 300ms ease backwards;
}

.animate-appear {
    animation: appear 400ms ease 200ms backwards;
}

.animate-jump:hover{
    animation: jump 500ms ease backwards;
}